@page
@model Bookstore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for shopping at Hilton Books</h2>
    <a class="btn btn-primary" asp-controller="Home">Continue Shopping</a>
</div>
